{% extends "base.html" %}
    {%block main %}

<h3 class="text-muted" >LIST OF TASKS OVERDUE</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> SL NO. </th>
      <th> TASK </th>
      <th> DAY </th>
      <th> TIME </th>
      <th> STATUS </th>
      </tr>
    </thead>
  <tbody >

      {% for id, name, day,time_hours,time_minutes,status in tasks_overdue%}
      <tr>
        <td> {{id}}</td>
        <td> {{name}} </td>
        <td> {{day}} </td>
        <td> {{time_hours}}:{{time_minutes}} </td>
        <td> {{status}}</td>
        
        
        
      </tr>
      {% endfor %}
  </tbody>
</table>
   {%endblock%}





