{% extends "base.html" %}
    {%block main %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> SL NO. </th>
      <th> TASK </th>
      <th> DAY </th>
      <th> TIME </th>
      <th> STATUS </th>
      </tr>
    </thead>
  <tbody >

      {% for id, name, day,time_hours,time_minutes,status in tasks%}
      <tr>
        <td> <a href="{{url_for('tasks.edit_task', id=id)}}">{{id}} </a></td>
        <td> {{name}} </td>
        <td > {{day}} </td>
        <td> {{time_hours}}:{{time_minutes}} </td>
        {% if status=="Due"%}
        <td> <a href="{{url_for('tasks.due_task')}}">{{status}} </a></td>
        {% endif %}
        {% if status=="Overdue"%}
        <td> <a href="{{url_for('tasks.overdue_task')}}">{{status}} </a></td>
        {% endif %}
        {% if status=="Done"%}
        <td> <a href="{{url_for('tasks.done_task')}}">{{status}} </a></td>
        {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>
<p>
  <a class="btn btn-primary" href="{{url_for('tasks.add_task')}}">Add a new task</a><br>
  *click on sl numbers to edit
</p>
   {%endblock%}



